---
---

@import "layout";
@import "header";
@import "hero";
@import "section";
@import "footer";
@import "homepage";

.image {
  margin-bottom: 31px;
  text-align: center; }

.caption {
  text-align: center;
  background-color: white;
  padding: 20px;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Bree Serif', serif; }

.frontpage.title {
  padding-top: 50px;
  width: 500px;
  text-align: right; }

.slick-prev:before, .slick-next:before {
  font-family: FontAwesome;
  font-size: 40px;
  line-height: 1;
  color: black;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev:before {
  content: "\f053"; }

[dir="rtl"] .slick-prev:before {
  content: "\f054"; }

[dir="rtl"] .slick-next {
  left: -10px;
  top: 70px;
  right: auto; }

.slick-next:before {
  content: "\f054"; }

[dir="rtl"] .slick-next:before {
  content: "\f053"; }

.caro img {
  max-width: 500px; }

html, body {
  height: 100%; }

div.inline {
  width: 50%; }
  div.inline img {
    width: 100%; }
  div.inline.right {
    float: right;
    margin-left: 30px; }
  div.inline.left {
    float: left;
    margin-right: 30px; }
  div.inline.centre {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center; }
