<li class="first">
    <a>About Marvin</a>
    <ul class="dropdown">
        <li><a href="/bahai.html">The Baha'i Faith</a></li>
        <li><a href="/mihdi.html">Marvin and Mihdi</a></li>
        <li><a href="/erica.html">Marvin and Erica</a></li>
    </ul>
</li>
<li>
    <a>Additional Sites</a>
    <ul class="dropdown">
        <li><a href="http://mihdisjourney.com/">Mihdi's Journey</a></li>
        <li><a href="http://qicenterwellness.com/">Qi Wellness Center</a></li>
        <li><a href="http://www.nikken.com/Qicenter">Qi Center Store</a></li>
    </ul>
</li>