<div class="header-top sm-text-center bg-theme-colored">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <nav>
                    <ul class="list-inline sm-text-center text-left flip mt-5">
                        <li> <a class="text-white" href="#">FAQ</a> </li>
                        <li class="text-white">|</li>
                        <li> <a class="text-white" href="#">Help Desk</a> </li>
                        <li class="text-white">|</li>
                        <li> <a class="text-white" href="#">Support</a> </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6">
                <div class="widget m-0 mt-5 no-border">
                    <ul class="list-inline text-right sm-text-center">
                        <li class="pl-10 pr-10 mb-0 pb-0">
                            <div class="header-widget text-white"><i class="fa fa-phone"></i> 123-456-789 </div>
                        </li>
                        <li class="pl-10 pr-10 mb-0 pb-0">
                            <div class="header-widget text-white"><i class="fa fa-envelope-o"></i> contact@yourdomain.com </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 text-right flip sm-text-center">
                <div class="widget m-0">
                    <ul class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm">
                        <li class="mb-0 pb-0"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="mb-0 pb-0"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="mb-0 pb-0"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="mb-0 pb-0"><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>