<footer>
    <div class="container">
        <h2>Additional Sites</h2>
        <h3><a href="http://mihdisjourney.com/">Mihdi's Journey</a></h3>
        <h3><a href="http://qicenterwellness.com/">Qi Wellness Center</a></h3>
        <h3><a href="http://www.nikken.com/Qicenter">Qi Center Store</a></h3>
    </div>

    <div class="container">
        <h2><a href="/">About Marvin</a></h2>
        <h3><a href="/childhood.html">Childhood and Family</a></h3>
        <h3><a href="/pine-forge.html">Pine Forge Academy</a></h3>
        <h3><a href="/shaw.html">The 60s</a></h3>
        <h3><a href="/newscaster.html">Newscasting</a></h3>
        <h3><a href="/london-taxi.html">The London Taxi</a></h3>
        <h3><a href="/bahai.html">The Baha'i Faith</a></h3>
        <h3><a href="/mihdi.html">Marvin and Mihdi</a></h3>
        <h3><a href="/erica.html">Marvin and Erica</a></h3>
        <h3><a href="/oriental.html">Oriental Medicine</a></h3>
        <h3><a href="/athlete.html">The Athlete</a></h3>
    </div>

</footer>