<header class="header">
    {% if page.frontpage %}
        <div class="fullbleed">
            <img src="/images/marvin-hero-with-text.jpg" alt="">
        </div>
    {% endif %}
    <div class="wrapper">
        <a href="/" class="site-name">
            <div class="name">
                Marvin A Brock Sr.
            </div>
            <div class="tag-line">The Journey of a Lifetime...</div>
        </a>
        <div class="nav">
            {% include nav.html %}
        </div>
    </div>
</header>

