<header class="header">
    {% if page.frontpage %}
        <div class="fullbleed">
            <div class="text">
                <h1>
                    <div>
                        <span class="first">The</span> Journey of a Lifetime</div>
                    <div>
                        <a href="https://www.gofundme.com/healing-for-marvin" class="donate">
                            <img class="go-fund-me-logo" src="/images/gfm-logo-single-2016.png">
                            Help Marvin fight stage 4 cancer →
                        </a>
                    </div>

                </h1>
            </div>
        </div>
    {% endif %}
    <div class="wrapper">
        <a href="/" class="site-name">
            <div class="name">
                Marvin A Brock Sr.
            </div>
            <div class="tag-line">The Journey of a Lifetime</div>
        </a>
        <div class="nav">
            <div id="menuzord" class="menuzord gray">
                <ul class="menuzord-menu">
                    {% include nav.html %}
                </ul>
            </div>
        </div>
    </div>
</header>

