footer {
  background-color: rgb(37, 39, 46);
  overflow: auto;
  padding: 10px 50px 50px;
  margin-top: 50px;
  .wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    div {
      display: inline-block;
      vertical-align: top;
      margin-right: 200px;
    }
    h3 {
      font-size: smaller;
      margin: 0;

    }
    h2 {
      color: #eee;
    }
    ul {
      float: left;
      width: auto;
      padding-right: 160px;
    }
  }
}