footer {
  background-color: black;
  overflow: auto;
  margin-top: 50px;
  .wrapper {
    margin-left: auto;
    margin-right: auto;

    div {
      display: inline-block;
      vertical-align: top;
      margin-right: 200px;
    }
    h3 {
      font-size: smaller;
      margin: 0;

    }
    h2 {
      color: #eee;
    }
    ul.top {
      display: block;
      overflow: auto;
      &.main {
        margin-bottom: 100px;
        & > li {
          width: 33.333%;
          padding: 39px;
          text-align: center;
          overflow: hidden;
          &:hover {
            height: auto;
          }
          a {
            color: #fff;
          }
          & > ul {
            margin-left: 0;
            li a {
              font-size: .8rem;
            }
          }
          @media (max-width: 700px) {
            width: 100%;
          }
        }
        .first {
          background-color: #EAAD70;
        }
        .second {
          background-color: #B03C3A;
        }
        .third {
          background-color: #58C2C8;
        }
      }
      &.secondary {
        & > li {
          width: 50%;
          padding-right: 10%;
          &.first {
            padding-left: 10%;
          }
        }
      }
      & > li {
        & > a {
          color: #fff;
          font-size: 1rem;
          font-weight: 600;
          line-height: 1.42857143;
          display: block;
        }
        float: left;
        padding-bottom: 20px;
        width: auto;
        & > ul {
          margin-top: 40px;
        }
      }
    }
  }
}