.hero.frontpage {
  background-image: url("/images/marvin-hero-with-text.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero h1 {
  margin: 0;
  font-size: 40pt; }

.hero h2 {
  font-style: italic; }

.hero {
  /* width: 100vw; */
  height: 40vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  right: 0;
}

.page.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh; }

#canoe {
  background-image: url("/images/canoe-hero.png"); }

#sixties {
  background-image: url("/images/band.jpg"); }

#childhood {
  background-image: url("/images/bermuda-map.png"); }

#pine-forge {
  background-image: url("/images/adventist.jpg"); }