.container {
  padding-top: 78px;
}
body{
  padding-top: 100px;
}

html {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.title { text-align: center;
  background-color: white;
}

.box-shadow {
  box-shadow: none !important;
}